/* for mobile device screens */
:root {
    --repo-font-size: 24px;
}

@media screen and (max-width: 500px) and (orientation: portrait) {
    #repo-name {
        font-size: var(--repo-font-size);
    }

    #github-icon {
        height: var(--repo-font-size);
    }

    textarea {
        width: 95%;
    }
}
