@import url("./reset.css");

body {
    background-color: black;
    padding: 0px 100px 0px 100px;
    color: white;
}

main {
    background-color: grey;
    height: 90vh;
    text-align: center;
}

textarea {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3em;
    width: 50%;
}

a {
    text-decoration: none;
    color: white;
}

#raw-code {
    height: 80%;
}

#repo-name {
    display: inline;
    margin-left: 10px;
}
